@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quicksand';
  src: url('./assets/quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer utilities {


  .gradient {
    background: rgb(205,208,224);
    background: linear-gradient(304deg, rgba(205,208,224,1) 0%, rgba(187,185,228,1) 29%, rgba(217,167,228,1) 72%, rgba(229,188,255,1) 100%);
  }

  .textGradient {
    background: linear-gradient(304deg, rgba(205,208,224,1) 0%, rgba(187,185,228,1) 29%, rgba(217,167,228,1) 72%, rgba(229,188,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
}

.form-group { 
  @apply mb-1 text-left;
}


input {
  @apply w-full p-2 rounded-lg border-b border-gray-500
}

